<?xml version="1.0" ?>

<launch>
  <!-- Run Premade Code for enviroment-->
  <include file="/home/l/ros/src/final_project/launch/TwoAudibotLaneFollowing.launch" />
  


  <!-- create Driver Node nodes for control-->
  <node pkg="final_project" type="DriveFP" name="DriveFP" output="screen"  /> 
  <node pkg="final_project" type="GpsCodeFP" name="GpsCodeFP"  /> 
</launch>
